<div id="context" *ngIf="article">
  <div class="wrapper">
    <div class="header">
      <img *ngIf="article.image.length !== 0" class="image" [src]="article.image" alt="">
      <div *ngIf="article.image.length === 0" class="logo">
        Banke <span class="and">&</span> Biznis
      </div>
      <div class="title">
        <div>
          <h1 style="word-break: normal">{{article.title}}
          </h1>
        </div>
        <div>
          <p class="date"><b>Objavljeno: </b> {{article.created_at || article.updated_at | dateFormat:['DD MMM YYYY']}}
          </p>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="ui leaderboard test ad leaderbord-fix" data-text="Leaderboard"></div>
      <div class="main-content">
        <div [innerHTML]="article.content"></div>
      </div>
    </div>
    <div class="sidebar">
      <app-sidebar [ads]="ads"
                   [partners]="partners"
                   [video]="video"
                   [column]="column"
                   [interviews]="interviews"
                   [lifestyle]="lifestyle">
      </app-sidebar>
    </div>
  </div>
</div>
