<div class="ui sticky left">
  <!--<div class="ui wide skyscraper test ad" data-text="Wide Skyscraper"></div>-->
</div>
<div id="context" *ngIf="article">
  <div class="wrapper">
    <div class="header">
      <img class="image" [src]="article.image" alt="">
      <div class="title">
        <h1>{{article.title}}</h1>
        <p>{{article.created_at || article.updated_at | dateFormat:['DD MMM YYYY']}}</p>
        <p><b>written by:</b> {{article.author}}</p>
      </div>
    </div>
    <div class="main">
      <div class="ui leaderboard test ad leaderbord-fix" data-text="Leaderboard"></div>
      <div class="main-content">
        <div [innerHTML]="article.content"></div>
      </div>
    </div>
    <div class="sidebar">
      <div class="ui leaderboard test ad leaderbord-fix" [ngStyle]="setAd('top', 1)"></div>

      <app-magazine></app-magazine>

      <app-mini-slider [elementId]="'slider-1'" [partners]="partners"></app-mini-slider>
      <app-mini-slider [elementId]="'slider-2'" [partners]="partners" [orientation]="'right'"></app-mini-slider>
      <div class="ui banner test ad banner-fix" [ngStyle]="setAd('side', 0)"></div>

      <!-- VIDEO -->
      <app-mini-header (headerSelect)="filterNewsOnHeaderSelect($event)" [filter]="'video'" [header]="'Video'"></app-mini-header>
      <app-article-small *ngFor="let article of video.slice(0,3)" [article]="article"></app-article-small>
      <div class="ui banner test ad banner-fix" [ngStyle]="setAd('side', 1)"></div>

      <!-- KOLUMNE -->
      <app-mini-header (headerSelect)="filterNewsOnHeaderSelect($event)" [filter]="'column'" [header]="'Kolumne'"></app-mini-header>
      <app-kolumna *ngFor="let article of column.slice(0,3)" [article]="article"></app-kolumna>
      <div class="ui banner test ad banner-fix" [ngStyle]="setAd('side', 2)"></div>

      <!-- GLOBAL NEWS -->
      <app-mini-header (headerSelect)="filterNewsOnHeaderSelect($event)" [filter]="'globalNews'" [header]="'Vijesti iz svijeta'"></app-mini-header>
      <app-global-news *ngFor="let article of globalNews.slice(0,3)" [article]="article"></app-global-news>
      <div class="ui banner test ad banner-fix" [ngStyle]="setAd('side', 3)"></div>

  </div>
</div>
