.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;

  .main-content {
    padding: 15px;
    font-size: 20px;
  }
}

.ad {
  grid-area: ad;
}

.header {
  grid-area: header;
  min-height: 300px;
  position: relative;
  display: flex;
  height: 600px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #222222;

  @media (max-width: 768px) {
    height: 100vh;
  }

  .image {
    height: 100%;
  }

  .title {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(255,255,255,0.8);
    height: auto;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .date {
      padding-top: 5px;
      float: right;
    }
  }
}

.wrapper {
  margin: 40px 15%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "header header header"
  "main main sidebar";

  @media (max-width: 1400px) {
    margin: 0 5%;
  }

  @media (max-width: 1080px) {
    margin: 0;
    width: 100% !important;
    display: block !important;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
    "main"
    "sidebar";
  }
}


.leaderbord-fix {
  width: 100% !important;
  background-position: center !important;
  margin-bottom: 10px !important;

  &:after {
    content: '' !important;
  }
}
.banner-fix {
  width: 100% !important;
  background-position: center !important;

  &:after {
    content: '' !important;
  }
}

.logo{
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800');
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 65px;
  font-weight: 800;

  &:focus {
    outline: none;
  }

  @media (max-width: 512px) {
    padding: 0 5px;
  };

  .and {
    color: #D32F2F;
    margin: 0 3px;
  }
}
