<div class="slider-container">
  <div class="slider-control left inactive"></div>
  <div class="slider-control right"></div>
  <ul class="slider-pagi"></ul>
  <div class="slider">
    <div *ngFor="let article of articles; let i = index" class="slide slide-{{i}} active">
      <div class="slide__bg" [ngStyle]="{'background-image': 'url(' + article.image + ')'}"></div>
      <div class="slide__content">
        <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
          <path class="slide__overlay-path" d="M0,0 150,0 400,405 0,405" />
        </svg>
        <div class="slide__text">
          <p class="slide__text-desc">
            <b>{{article.suptitle | textCut:[100]}}</b>
            <br>
            <br>
            {{article.title | textCut:[100]}}
          </p>
          <a class="slide__text-link" routerLink="/news/{{article.slug}}">Vise</a>
        </div>
      </div>
    </div>
  </div>
</div>
