<div class="ui raised segment mini-article">
  <div class="mini-img">
    <img src="assets/images/steve.jpg" alt="">
    <img class="mini-play" src="assets/images/play.png" alt="">
  </div>
  <h4 class="mini-title">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam</h4>
  <div class="mini-date">29.07.1989</div>
</div>
