<div class="ui menu fixed fix-header">
  <div class="logo" routerLink="home">
    <img src="assets/images/banke_log.png" alt="">
  </div>
  <div class="right menu">
    <!--<div class="ui multiple dropdown dropdown-fix">-->
      <!--<input type="hidden" name="filters">-->
      <!--<span class="text">Filter Posts</span>-->
      <!--<div class="menu">-->
        <!--<div class="item" *ngFor="let filter of filters | async">-->
          <!--<div class="ui checkbox">-->
            <!--<input type="checkbox" name="example" [checked]="filter.active"-->
                   <!--(change)="filter.active = !filter.active; setFilter()">-->
            <!--<label>{{filter.name}}</label>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<i class="ellipsis vertical white big icon" (click)="onMenuClick.emit(true)"></i>-->
    <button class="ui secondary button tiny filter-fix" (click)="onMenuClick.emit(true)">
      Filter
    </button>
  </div>
</div>
