:host {
  display: block;
  width: 100%;
}

.fix-header {
  background: linear-gradient(to right, #222222 35% , #8d3100, #ff7100);
  border-radius: 0;
  border: none;
  padding: 2px;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    height: 25px;
    margin: auto;
  }
}

.dropdown-fix {
  color: white;
  transition: ease 0.3s;

  &:hover {
    background: rgba(255,255,255,0.3);
  }
}
.filter-fix{
color: #FF7100 !important;
}
