.article-section-title {
  width: 100%;
  height: auto;
  background: linear-gradient(to right, #222222 35% , #8d3100, #ff7100);
  color: white;
  padding: 10px;
  margin-bottom: 20px;
}
.clickable {
  cursor: pointer;

  &:hover {
    color: #ff7100;
  }
}

