<div class="ui card magazine-width-full">
  <div class="content">
    <!--<div class="header">Preuzmite nas magazin</div>-->
    <div class="description magazine-sections">
      <div class="left">
        <a class="magazine" target="_blank" href="https://www.tutorialspoint.com/artificial_intelligence/artificial_intelligence_tutorial.pdf">
          <img src="assets/images/pdf.jpg" alt="">
        </a>
      </div>
      <div class="right">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aut blanditiis debitis ea est ipsum iure laboriosam laborum
        </p>
      </div>
    </div>
  </div>
  <div class="ui bottom attached button magazine-button-fix" (click)="showPopUp()">
    Subscribe
    <!--<app-subscribe></app-subscribe>-->
  </div>
</div>

<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Profile Picture
  </div>
  <div class="image content">
    <div class="ui medium image">
      <!--<img src="/images/avatar/large/chris.jpg">-->
    </div>
    <div class="description">
      <div class="ui header">We've auto-chosen a profile image for you.</div>
      <p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated with your registered e-mail address.</p>
      <p>Is it okay to use this photo?</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Nope
    </div>
    <div class="ui positive right labeled icon button">
      Yep, that's me
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
