<div class="ui card magazine-width-full">
  <div class="content">
    <!--<div class="header">Preuzmite nas magazin</div>-->
    <div class="description magazine-sections">
      <a class="magazine" target="_blank" href="http://45.76.90.178:4000/assets/images/Banke_190w.pdf">
        <img width="200" src="assets/images/pdf_image.png" alt="">
      </a>
    </div>
  </div>
  <div class="ui bottom attached button magazine-button-fix" (click)="showPopUp()">
    Subscribe
    <!--<app-subscribe></app-subscribe>-->
  </div>
</div>

<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Zahtjev za Banke mjesečni list
  </div>
  <div class="image content">
    <div class="ui medium image">
      <div class="ui input">
        <input type="text" placeholder="Unesite svoj e-mail" [(ngModel)]="email">
      </div>
    </div>
    <div class="description">
      <p>
        Postovanje cijenjeni korisnici, trenutnu predplatu na nas magazin mozete izvrsiti direktno slanjem zahtjeva na mail
        <a href="mailto:info@banke.ba">info@banke.ba</a> ili klikom na "Posalji zahtjev za otvaranje vec popunjenog mail-a"
        <br>
        Nasi uposlenici ce vas kontaktirati u roku od 48h
      </p>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Nazad
    </div>
    <div class="ui positive right labeled icon button" (click)="subscribeToMagazine()">
      Pošalji zahtjev
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
