:host {
  display: block;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}

.header {
  grid-area: header;
  min-height: 400px;
  background: #cdcdcd;
}

.wrapper {
  margin: 0 150px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "header  header  header"
                       "main main sidebar";

  @media (max-width: 800px) {
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                         "main"
                         "sidebar";
  }
}
