<div class="ui raised segment article">
  <div class="">
    <img class="article-image" src="assets/images/steve.jpg" alt="">
  </div>
  <div class="article-content">
    <h1 class="article-title">This is the title of the article</h1>
    <div class="article-date">
      29.07.1989 <a>News category</a>
    </div>
    <p class="article-text">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
    <div class="article-social">
      <app-social></app-social>
    </div>
  </div>
</div>
