.article {
  margin-bottom: 20px !important;
  padding: 0;
  display: flex;
  flex-direction: row;
  height: 220px;
  overflow: hidden;

  @media (max-width: 512px) {
    flex-direction: column;
    margin: 20px;
    height: auto;

    .article-image {
      height: 100px !important;
      overflow: hidden !important;
      width: 100% !important;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100% !important;
        height: auto !important;
      }
    }
    .article-content {
      width: 100% !important;
    }
  }

  .article-image {
    width: 27%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF7100;

    img {
      height: 100%;
    }
  }
  .article-content{
    width: calc(100% - 27%);
    padding: 15px;

    .article-title {

    }
    .article-text{
      height: 60px;
      overflow: hidden;
      word-wrap: break-word;
      text-overflow: ellipsis;
    }
    .article-date{
      margin-bottom: 15px;
    }
    .article-category {
      margin-left: 5px;
    }
  }
}

