.article {
  margin-bottom: 20px !important;
  padding: 0;
  display: flex;
  flex-direction: row;
  height: 220px;
  overflow: hidden;

  @media (max-width: 512px) {
    flex-direction: column;
    margin: 20px;
    height: auto;

    .article-image {
      height: 100px !important;
      overflow: hidden !important;
      width: 100% !important;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100% !important;
        height: auto !important;
      }
    }
    .article-content {
      width: 100% !important;
    }
  }

  .article-image {
    width: 27%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222222;

    img {
      height: 100%;
    }
  }
  .article-content {
    position: relative;
    width: calc(100% - 27%);
    padding: 15px;

    .article-title {
      //height: 30px;
      //overflow: hidden;
      max-width: calc(100% - 40px);

      @media (max-width: 512px) {
        height: auto;
      }
    }
    .article-text{
      max-width: calc(100% - 40px);
      height: 75px;
      overflow: hidden;
      word-wrap: break-word;
      text-overflow: ellipsis;
    }
    .article-date{
      margin-bottom: 15px;
    }
    .article-category {
      margin-left: 5px;
    }
    .article-social {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

.logo{
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800');
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 25px;
  font-weight: 800;

  &:focus {
    outline: none;
  }

  @media (max-width: 512px) {
    padding: 0 5px;
  };

  .and {
    color: #D32F2F;
    margin: 0 3px;
  }
}
