.article {
  margin-bottom: 20px !important;
  display: flex;
  flex-direction: row;

  @media (max-width: 800px) {
    flex-direction: column;
    margin: 20px;
  }

  .article-image {
    height: 200px;
  }
  .article-content{
    margin-left: 15px;

    .article-title {

    }
    .article-text{
      height: 60px;
      overflow: hidden;
      word-wrap: break-word;
      text-overflow: ellipsis;
    }
    .article-date{
      margin-bottom: 15px;
    }
    .article-category {
      margin-right: 5px;
    }
  }
}

