<div class="ui raised segment article">
  <div class="article-image">
    <img [src]="article.image" alt="">
  </div>
  <div class="article-content">
    <a routerLink="/news/{{article.slug}}">
      <h1 class="article-title">{{article.title | textCut:[40]}}</h1>
    </a>
    <div class="article-date">
      {{article.date}} <a class="article-category" *ngFor="let category of article.categories">{{category}}</a>
    </div>
    <p class="article-text">{{article.content}}</p>
    <div class="article-social">
      <app-social></app-social>
    </div>
  </div>
</div>
