<div class="ui right sidebar inverted vertical menu">
  <div *ngFor="let filter of filters" class="item">
    <div *ngIf="filter.subfilters; else elseBlock">
      <div class="ui accordion">
        <div class="title" style="color: white">
          <i class="dropdown icon"></i>
          {{filter.name}}
        </div>
        <div class="content">
          <div *ngFor="let subfilter of filter.subfilters" class="item">
            <button class="ui button full-size"
                    [ngClass]="{'toggle': subfilter.active}"
                    (click)="onFilterClicked(subfilter.id)">{{subfilter.name}}</button>
          </div>
        </div>
      </div>
    </div>
    <ng-template #elseBlock>
      <button class="ui button full-size"
              [ngClass]="{'toggle': filter.active}"
              (click)="onFilterClicked(filter.id)">{{filter.name}}</button>
    </ng-template>
  </div>
  <a >

  </a>
</div>
<div class="pusher">
  <app-header (onMenuClick)="showMenu($event)"></app-header>

  <router-outlet></router-outlet>

  <app-footer></app-footer>
</div>
