<a class="share-btn share-btn-inverse share-btn-twitter"
   href="https://twitter.com/share?url=http://localhost:4200/home&text=Share Buttons Demo&via=sunnyismoi"
   title="Share on Twitter">
  <span class="share-btn-icon"></span>
  <span class="share-btn-text">Twitter</span>
</a>

<a class="share-btn share-btn-inverse share-btn-facebook"
   href="https://www.facebook.com/sharer/sharer.php?u=http://localhost:4200/home"
   title="Share on Facebook">
  <span class="share-btn-icon"></span>
  <span class="share-btn-text">Facebook</span>
</a>

<a class="share-btn share-btn-inverse share-btn-email"
   href="mailto:?subject=Share Buttons Demo&body=http://localhost:4200/home"
   title="Share via Email">
  <span class="share-btn-icon"></span>
  <span class="share-btn-text">Email</span>
</a>
