/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
}

.ad {
  width: 100% !important;
}
a[routerLink] {
  color: black !important;
}
a[routerLink]:hover {
  color: #FF7100 !important;
}

.full-size {
  width: 100% !important;
}

.space-bellow {
  margin-bottom: 15px;
}
