<div class="wrapper">
  <div class="section">
    <div class="section1">
      <div class="logo" routerLink="home">
        Banke <span class="and">&</span> Biznis
      </div>
      <div>
        <p>
          &copy; Copyright 2017-2018 Banke & Biznis, Sarajevo
        </p>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="section2">
      <div class="space-between">
        <h4>
          Kontakt:
        </h4>
        <p>
          Phone: +387 33 000 000
        </p>
        <p>
          E-mail: <a href="mailto:info@banke.ba">info@banke.ba</a>
        </p>
      </div>
      <div>
        <a target="_blank" href="https://www.facebook.com/BankeBiznis/">
          <i class="big facebook square icon"></i>
        </a>
        <a target="_blank" href="https://twitter.com/?lang=en">
          <i class="big twitter square icon"></i>
        </a>
        <a class="forum-image" target="_blank" href="http://banke.forumotion.me/">
          <img src="assets/images/forum.png" alt="">
        </a>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section3">

      <h4>Partneri:</h4>
      <ul>
        <li>
          <a target="_blank" href="http://www.fba.ba/">Agencija za Bankarstvo FBiH</a>
        </li>
        <li>
          <a target="_blank" href="https://www.abrs.ba/">Agencija za Bankarstvo RS</a>
        </li>
        <li>
          <a target="_blank" href="http://www.cbbh.ba/">Centralna Banka BiH</a>
        </li>
        <li>
          <a target="_blank" href="http://aod.ba/index.php/bhs/">Agencija za osiguranje depozita BiH</a>
        </li>
        <li>
          <a target="_blank" href="http://www.azors.rs.ba/azors/index.html">Agencija za osiguranje RS</a>
        </li>
        <li>
          <a target="_blank" href="http://www.azobih.gov.ba/">Agencija za osiguranje BiH</a>
        </li>
        <li>
          <a target="_blank" href="http://www.nados.ba/hr/">Agencija za nadzor osiguranja FBiH</a>
        </li>
      </ul>
    </div>
  </div>
</div>
